html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  color:rgba(25, 174, 233, 0.872);
} 

.upper-area {
  display: flex;
  flex-direction: row;
}

.add-button {
  background-color: rgba(25, 174, 233, 0.872);
  border-radius: 0%;
  margin: 0 1em;
}

.task-area{
  border: 1px solid rgb(14, 14, 14);
  margin: 0 0 1rem 0;
  box-shadow: rgba(25, 174, 233, 0.872) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(245, 182, 22, 0.919) 15px 15px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  text-align: start;
}


ol {
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.delete-button {
  color: rgba(220, 36, 36, 0.981);
  padding: 5px;
  margin: 5px;
}

.edit-button {
  color: rgba(25, 174, 233, 0.872);
  padding: 5px;
  margin: 5px;
}

.move-button {
  color: rgba(248, 133, 19, 0.919);
  padding: 5px;
  margin: 5px;
}